html, body {
    font-family: 'Mukta Mahee',sans-serif;
    font-size: 14px;
    line-height:1.6; color:#636b6f;
    background-color:#f5f8fa;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #fff;
    font-weight: 400;
}

.navbar {
    min-height: auto;
    padding-top: 7px;
    padding-bottom: 5px;
}

.navbar-brand {
    height: 0;
    font-size: 14px;
    display: block;
    float: none;
    padding: 0;
    text-transform: uppercase;
}

.navbar-nav>li>a {
    padding: 0;
    padding-left: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-text {
    color: #f1f2f3;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-text:hover {
    color: #fff;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #e1e2e3;
    min-width: 100%;
    background-color: transparent;
    border-radius: 0;
    font-weight: normal;
    font-size: 18px;
    display: inline-block;
}

.dashboard a {
    min-width: 100%;
    padding: 15px 20px;
    color: #fff;
    position: relative;
    display: block;
    font-size: 20px;
    border-radius: 3px;
    text-decoration: none;
    vertical-align: middle;
    margin-bottom: 15px;
}

.dashboard a .material-icons {
    font-size: 30px;
    position: relative;
    display: inline-block;
    float: left;
}

.action-tool {
    margin-bottom: 20px;
    position: relative;
    display: block;
}

.action-tool input.search {
    outline: none;
    width: 100%;
    border-radius: 0;
    border: 1px solid #d1d1d1;
    padding: 7px 10px;
    font-size: 12px;
    transition: 1s;
    line-height: 20px;
}

table.table {
    background-color: #fff;
}

table.table thead th {
    line-height: 2.5;
}

.button {
    padding: 5px 17px;
    color: #fff;
    user-select: none;
    border: none;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    outline: none;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.form-control {
    outline: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.help-block {
    margin-left: 5px;
}

.modal-content {
    border-radius: 0;
}

.alert {
    padding: 7px 15px;
    border-radius: 0;
}

.pagination {
  float: right;
  border-radius: 2px;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.info-wrapper {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.panel-default {
    border-radius: 0;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    margin-top: 30px;
}