a.link {
    color: #A1887F;
}

a.link:focus, a.link:hover {
    color: #BCAAA4;
}

.links > a,
.button,
.dashboard a {
    background-color: #A1887F;
}

.links > a:hover,
.button:hover,
.button:disabled,
.button:active,
.button:focus,
.dashboard a:hover {
    background-color: #BCAAA4;
}

.navbar-default {
    background-color: #A1887F;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border-color: #A1887F;
}

.breadcrumb a {
    color: #A1887F;
}

.breadcrumb a:hover {
    color: #BCAAA4;
}

.form-control:hover,
.action-tool input.search:hover,
.form-control:focus,
.action-tool input.search:focus {
    border-color: #A1887F;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.pagination>li>a,
.pagination>li>span,
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span, 
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #A1887F;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    background-color: #A1887F;
    border-color: #A1887F;
}

.nav-tabs>li>a {
    border-radius: 0;
    padding: 10px 20px;
}

.panel-default {
    border-color: #A1887F;
}
